# =========================
# 依赖与环境
# =========================
/node_modules
/OCR-portable-python*

# =========================
# 编译与打包产物
# =========================
/dist
/out
/package
/release
/android

# =========================
# Parcel
# =========================
/.parcel-cache
/.cache-portable
/.proxyrc.json

# =========================
# 测试相关
# =========================
/test-outputs

# =========================
# 数据与本地状态
# =========================
/db/*

# =========================
# MAC
# =========================
.DS_Store

# =========================
# Git 配置
# =========================
!**/.gitkeep
